@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//*-----> font families
  $fontMR: "Manrope", sans-serif;

//*-----> colors
  //-----> primary
    $lt-cy: hsl(193, 38%, 86%);
    $ne-gr: hsl(150, 100%, 66%);
  
  //-----> neutral
    $gr-bl: hsl(217, 19%, 38%);
    $dr-gr-bl: hsl(217, 19%, 24%);
    $dr-bl: hsl(218, 23%, 16%);